
<div class="blog-teaser-grid">
  {% for post in paginator.posts %}
<a class="blog-card" href="{{ post.url | relative_url }}">
  <div class="card-img">
    {% if post.image %}
      <img src="{{ post.image }}" alt="{{ post.title }}" loading="lazy">
    {% else %}
      Bild
    {% endif %}
  </div>
  <div class="card-content">
    <div class="card-title">{{ post.title }}</div>
    <div class="card-desc">{{ post.excerpt | strip_html | truncate: 140 }}</div>
  </div>
</a>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a class="prev" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">« Zurück</a>
  {% endif %}
  <span>Seite {{ paginator.page }} von {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a class="next" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Weiter »</a>
  {% endif %}
</div>

